version: "3.9"

services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.34.4
    command:
      - --host
      - 0.0.0.0
      - --port
      - "8080"
      - --scheme
      - http
    ports:
      - "8080:8080"
      - "50051:50051"
    volumes:
      - weaviate_data:/var/lib/weaviate
    restart: on-failure:0
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      PERSISTENCE_DATA_PATH: "/var/lib/weaviate"
      CLUSTER_HOSTNAME: "node1"

  app:
    build: .
    container_name: vector-app
    depends_on:
      - mongo
      - weaviate
    environment:
      - MONGODB_URI=mongodb://mongo:27017
      - WEAVIATE_URL=http://weaviate:8080
    ports:
      - "8000:8000"

volumes:
  mongo_data:
  weaviate_data:
